<!--The content below is only a placeholder and can be replaced.-->
<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input type="text" #todo (keyup.enter)="onEnter(todo)" placeholder="What need to be done?" class="new-todo" autofocus>
  </header>
  <section class="main" style="display: block;">
    <input #completedAllCheckbox id="toggle-all" type="checkbox" class="toggle-all" (change)="completeAllOnChange(completedAllCheckbox.checked)">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let item of todoItems | todoFilter:filterType" [ngClass]="{'completed': item.isCompleted}">
        <app-todo-item [item]="item" (itemOnRemove)="removeItem($event)"></app-todo-item>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count">
      <strong>{{getNumOfNotCompleted()}}</strong>
      <span *ngIf="getNumOfNotCompleted() != 1">items left</span>
      <span *ngIf="getNumOfNotCompleted() == 1">item left</span>
    </span>
    <ul class="filters">
      <li>
        <a [ngClass]="{'selected': filterType === 'all'}" (click)="filterTodo('all')">All</a>
      </li>
      <li>
          <a [ngClass]="{'selected': filterType === 'active'}" (click)="filterTodo('active')">Active</a>
      </li>
      <li>
          <a [ngClass]="{'selected': filterType === 'completed'}" (click)="filterTodo('completed')">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
  </footer>
</section>
